{%extends 'base/main.html'%}
{% block content %}

<div class="headerbar">
    <div>
        <h1>Bem-vindo,{{request.user|title}}</h1>
        <h3 style="margin:0">Você tem <i>{{contagem}}</i> item{{contagem|pluralize:"s"}} incompleto{{contagem|pluralize:"s"}}</h3>
    </div>
    {%if request.user.is_authenticated %}
        <a href="/logout/">Sair</a>
    {% else %}
        <a href="/login/">Login</a>

    {%endif%}
</div>

<div class="search-add">
    <form method="GET" style="margin-top:20px;display: flex;">
        <input type="text" name="search-area" value="{{search_input}}">
        <input class="button" type="submit" value="Procurar">
    </form>
    <a class="add-link" href="/tarefa-create/" >Adicionar Tarefa</a>
</div>

<title>Minha lista de Afazeres</title>

<hr>


<div class="items-tarefa">
    {%for tarefa in tarefas %}
        <div class="items">
            {% if tarefa.completa %}
                <div class="tarefa-titulo">
                    <div class="tarefa-completa-icone"></div>
                    <i><s><a href="/tarefa-update/{{ tarefa.id }}">{{tarefa}}</a></s></i>
                </div>
                <a class="delete-link" href="/tarefa-delete/{{ tarefa.id }}"><i class="fa fa-close"></i></a>
                {% else %}
                <div class="tarefa-titulo">
                    <div class="tarefa-incompleta-icone"></div>
                    <a href="/tarefa-update/{{ tarefa.id }}">{{tarefa}}</a>
                </div>
            <a class="delete-link" href="/tarefa-delete/{{ tarefa.id }}"><i class="fa fa-close"></i></a>     
            {% endif %}

        </div>
        {% empty %}
        <h3>Nnenhum item na lista</h3>
        {% endfor %}
</div>


 

{% endblock content %}


